
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>New Login page</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

  {% load staticfiles %}
    <script src="{% static "userapp/angular_service.js" %}"></script>
    <script src="{% static "userapp/new_ang.js" %}"></script>
</head>

<body ng-app="formApp" ng-controller="formController">
<h1> Login Using Ajax Call </h1>

<form id="myform"  ng-submit="newprocessForm()">{% csrf_token %}
    <input type= "text" name= "email" ng-model="formData.email">
     <input type="password" name = "password" ng-model="formData.password" />
     <button type="submit">Submit</button>
</form>


<input ng-model="custom">
<pre>
    <ng-bind="formData">
</pre>

</body>

</html>
